﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS FEED</title>
    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using System.Web.Optimization
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/bundles/modules")
    @Scripts.Render("~/bundles/controllers")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    

    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.8"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.8"></script>
    <script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.8"></script>
</head>
<body ng-app="app">
    @RenderBody()
</body>
</html>