﻿@import url(http://fonts.googleapis.com/css?family=Exo);


body {
    background: url("../img/background.jpg") no-repeat fixed center;
}

.news {
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #ffffff;
}

    .news .img-figure {
        position: relative;
    }

        .news .img-figure img {
            position: relative;
            overflow: hidden;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }

    .news:hover .img-figure img {
        -webkit-transform: scale(1.10);
        -moz-transform: scale(1.10);
        -ms-transform: scale(1.10);
        -o-transform: scale(1.10);
        transform: scale(1.10);
    }

    .news .title {
        /*padding: 29px 30px;*/
        padding: 45px 30px;
        position: absolute;
        left: 0;
        background: #fff;
        width: 100%;
        height: 50vh;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .news .title h1 {
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            /*	color: #3D6AA2;*/
            text-align: center;
        }

    .news:hover .title {
        margin-top: -90px;
        background: #fff;
    }

    .news p.description {
        position: relative;
        font-weight: normal;
        line-height: 22px;
        opacity: 0;
        text-align: center;
        padding: 70px 30px 10px 30px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        height: 20vh;
    }

    .news:hover p.description {
        opacity: 1;
    }

p.more {
    text-align: center;
}

.more a {
    position: relative;
    font-size: 13px;
    margin-top: 30px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: #28998b;
}

    .more a:after {
        content: '';
        width: 18px;
        height: 1px;
        position: absolute;
        left: 55px;
        top: 9px;
        background: #28998b;
        vertical-align: middle;
        margin-left: 10px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }


.news:hover a:after {
    width: 30px;
}

#news {
    height: 400px;
    margin-top: 30px;
}

.cat {
    background: #dd6868;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 1;
    padding: 3px 15px;
}

a {
    color: #000000;
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: #2a6496;
        text-decoration: none;
    }

#modal_img {
    padding-bottom: 30px;
}

#modal_btn {
    color: #ffffff;
    background-color: #ff3b3f;
    border-color: #caebf2;
}

#modal_close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #ff3b3f !important;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.5 !important;
    filter: alpha(opacity=20);
}

.header {
    background: #ffffff;
}

.logo {
    width: 20%;
    height: auto;
    padding-top: 2px;
    padding-left: 5px;
    opacity: 0.9;
    filter: grayscale(100%);
}

    .logo:hover {
        filter: grayscale(0%);
        opacity: 1;
    }

.search {
    position: absolute;
    right: 40px;
    bottom: 0;
    top: 30%;
    left: 70%;
    max-width: 300px;
}

.font > h2 {
    font-family: 'Exo';
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
}

.font {
    text-shadow: 1px 1px 2px #000000;
}

.padding_bottom {
    margin-bottom: 50px;
}

hr {
    width: 65%;
    height: 0.3px;
    background: #ffffff;
    opacity: 0.4;
}

.navbar {
    border-radius: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #dd6868 !important;
    border-color: #dd6868 !important;
}

/*.button-pages {
    position: relative;
     float: left; 
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #dd6868;
    border: 1px solid #dd6868;
    color: #fff;
    height: 34px;
    width: 34px;
}*/

.button-pages {
    position: absolute;
}

.pagination > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

    .pagination > a:hover {
        background-color: #eeeeee;
        border-color: #ffffff;
        color: #000000;
        cursor: pointer;
    }

    .pagination > a:active {
        background-color: #dd6868;
        border-color: #dd6868;
        color: #ffffff;
    }

    .pagination > a:focus {
        background-color: #dd6868;
        border-color: #dd6868;
        color: #ffffff;
    }

.first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}