﻿@import url(http://fonts.googleapis.com/css?family=Exo);

.loading-mask {
    position: relative;
    height: 250px;
}
.loading-mask > .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 140px;
    width: 140px;
    min-width: auto;
    overflow: hidden;
    border: 2px solid #263238;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.loading-mask .loader {
    min-width: 0;
    background: none;
}
.loading-mask > .wrapper > svg {
    stroke: #263238;
    animation: rotation 5s linear 0s infinite;
    max-width: 1000px;
}
.loading-mask > .text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-top: 15px;
    font-size: 20px;
    line-height: 1;
    font-family: Helvetica;
    text-transform: uppercase;
    color: #263238;
}
.loading-mask > .text > .letter:nth-child(0) {
    filter: blur(0px);
    animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.4s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(8) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.6s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(9) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.8s infinite linear alternate;
}
.loading-mask > .text > .letter:nth-child(10) {
    filter: blur(0px);
    animation: blur-text 1.5s 2s infinite linear alternate;
}
@keyframes rotation {
    from {
        transform: translateX(0);
    }
    from {
        transform: translateX(-50%);
    }
}
@keyframes blur-text {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(3px);
    }
}


body {
    background: url("../img/background.jpg") no-repeat fixed center;
    overflow-x: hidden;
}


.header {
    background: #ffffff;
}

.btn-down {
    border-radius: 1px !important;
    background: white;
    color: #2E4053;
    font-family: 'Exo';
    padding: 10px 45px 10px 45px;
}

.btn-down:hover {
    transition: background 0.5s ease-out;
    background: #dd6868;
}

h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: left;
    margin-left: 25px;
    font-family: 'Exo';
}
.h3_black {
    color: #000000;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: left;
    margin-left: 25px;
    font-family: 'Exo';
}

.logo {
    width: 20%;
    height: auto;
    padding-top: 2px;
    padding-left: 5px;
    opacity: 0.9;
    filter: grayscale(100%);
}

    .logo:hover {
        filter: grayscale(0%);
        opacity: 1;
    }

.search {
    position: absolute;
    right: 40px;
    bottom: 0;
    top: 30%;
    left: 70%;
    max-width: 300px;
}


.channels2 {
    height: 20vh;
    background: #4cff00;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 33%;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}


.channel {
    transition: background 0.5s ease-out;
    background: #ffffff;
    height: 130px;
    opacity: 0.8;
    margin-right: -28px;
    margin-top: 2px;
}

    .channel:hover {
        transition: background 0.5s ease-out;
        opacity: 0.8;
        /*background: #ff0f00;*/
        background: #dd6868;
    }

        .channel:hover > h2 {
            transition: color 0.5s ease-out;
            text-align: center;
            font-size: 1.4rem;
            color: #ffffff;
        }

    .channel h2 {
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.2rem;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Exo';
    }

.padding_bottom {
    margin-bottom: 50px;
}

.font > h2 {
    font-family: 'Exo';
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
}

.font {
    text-shadow: 1px 1px 2px #000000;
}

hr {
    width: 65%;
    height: 0.3px;
    background: #ffffff;
    opacity: 0.4;
}

.navbar {
    border-radius: 0px;
}


.form-control:focus {
    border-color: #dd6868;
}

.channel > p {
    position: absolute;
    top: 110px;
    left: 25px;
    color: #dd6868;
}

.channel:hover > p {
    color: #ffffff;
}


.overlay {
    background: rgba(0,0,0,.5);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9;
}


.cs-loader {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 40px;
    opacity: 0;
    display:inline-block;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}